@import 'normalize';

// Colors
$color-primary-1 : #E45300;
$color-primary-2 : #005E74;
$color-black : #06080C;
$color-grey-1 : #535761;
$color-grey-2 : #969AA2;
$color-grey-3 : #E5E5E5;
$color-white : #ffffff;

$background-color : #EFF2F7;

$font-base : "Sofia Pro",
'arial';
$color-base : $color-black;
$font-size-normal : 16px;
$font-size-small : 14px;

$max-width-frame : 480px;


// MIXIN
@mixin clearfix() {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

// FONT FACE
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProBold.eot');
  src: url('../fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SofiaProBold.woff2') format('woff2'),
    url('../fonts/SofiaProBold.woff') format('woff'),
    url('../fonts/SofiaProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProMedium.eot');
  src: url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SofiaProMedium.woff2') format('woff2'),
    url('../fonts/SofiaProMedium.woff') format('woff'),
    url('../fonts/SofiaProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegular.eot');
  src: url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SofiaProRegular.woff2') format('woff2'),
    url('../fonts/SofiaProRegular.woff') format('woff'),
    url('../fonts/SofiaProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


// BASE
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // font-family: $font-base;
  color: $color-base;
  font-size: $font-size-normal;
  height: 100%;
}

audio,
img,
object,
embed,
canvas,
video,
iframe {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;

  &:not(.md-image) {
    height: auto;
  }
}


// CONTAINER

.container {
  min-height: 100%;
  position: relative;
}

.content {
  display: block;
  position: relative;
  padding-bottom: 48px;
}

.header {
  background: $color-primary-1;
  @include clearfix();

  &__logo {
    width: 180px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 16px;
  }

  &__text {
    color: $color-white;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 26px;
    margin-left: 50px;
  }
}

.title-product {
  font-weight: bold;
  text-align: center;
  color: $color-white;

  &--center {
    padding-bottom: 16px;
  }
}

.question,
.answer {
  max-width: 280px;
  margin: auto;
}

.question {
  text-align: center;
  margin-bottom: 36px;

  &__logo {
    margin-top: 28px;
    margin-bottom: 36px;
    width: 180px;
    height: auto;
  }

  &__text {
    b {
      font-size: 18px;
      display: block;
      margin-bottom: 4px;
    }
  }
}

// BUTTON

.btn-prev {
  position: absolute;
  top: 40px;
  left: 20px;
}

.btn-back {
  position: absolute;
  top: 16px;
  left: 16px;
}

.btn-answer {
  @include flexCenter();
  background: $color-white;
  height: 56px;
  margin: auto;
  font-size: $font-size-small;
  color: #535761;
  letter-spacing: 0;
  text-decoration: none;
  border-radius: 100px;
  line-height: 0px;
  margin-bottom: 4px;
  padding: 0 20px;
}

.btn-download {
  @include flexCenter();
  height: 56px;
  width: 100%;
  background: $color-primary-2;
  color: $color-white;
  text-decoration: none;
  font-size: 14px;
  position: fixed;
  bottom: 0px;
  z-index: 99;
  font-weight: bold;

  img {
    margin-left: 10px;
  }
}

// CARD PRODUCT

.card-product {
  &__wrapper {
    padding: 16px;
    max-width: $max-width-frame;
    margin: auto;
  }

  &__item {
    text-decoration: none;
    color: $color-white;
    font-weight: 500;
    background: $color-grey-2;
    padding-top: 33.3%;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%);
    }
  }

  &__text {
    position: absolute;
    top: 12px;
    left: 12px;
    max-width: 160px;
  }
}

// TABS

.tab {
  &__wrapper {
    margin-bottom: 24px;
  }

  &__links {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 8px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: bold;
    color: $color-white;
    background: none;
    opacity: .4;

    &.active {
      opacity: 1;
    }
  }

  &__content {
    display: none;
    padding: 16px;
  }
}

// EDITOR

.editor-wrapper {
  max-width: $max-width-frame;
  margin: auto;

  >* {
    font-size: $font-size-small;
    color: $color-grey-1;
  }

  img {
    width: 100%;
    border-radius: 8px;
    margin: 12px 0px;
  }

  a {
    color: $color-primary-1;
    text-decoration: none;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-black;
    letter-spacing: 0;
    margin: 12px 0px;
    display: inline-block;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
    color: $color-primary-2;
    font-weight: 500;
  }

  h5 {
    font-size: 12px;
    font-weight: normal;
  }

  h6 {
    font-size: 10px;
    font-weight: normal;
  }

  p {
    font-size: 14px;
    color: $color-grey-1;
    margin: 0px;
    margin-bottom: 12px;
  }

  ol {
    padding-left: 16px;
    margin-bottom: 12px;
    margin-top: 0px;
    display: block;
    li {
      list-style-type: decimal;
      font-weight: bold;
      margin-bottom: 8px;
      position: relative;
      padding-left: 8px;
      ul{
        margin-top:16px;
        
        li{
          &:before {
            background-color: $background-color;
            border: 1px solid $color-primary-1;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  ul {
    padding-left: 16px;
    margin-bottom: 12px;
    margin-top: 0px;
    display: block;

    li {
      font-weight: bold;
      margin-bottom: 8px;
      list-style: none;
      position: relative;
      padding-left: 8px;

      &:before {
        content: "";
        width: 8px;
        height: 8px;
        background-color: $color-primary-1;
        display: block;
        position: absolute;
        top: 5px;
        left: -16px;
        border-radius: 50px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      ul{
        margin-top:16px;
        
        li{
          &:before {
            background-color: $background-color;
            border: 1px solid $color-primary-1;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  table {
    width: 100%;
    margin-bottom: 12px;
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    thead {
      tr {
        th {
          padding: 6px 16px 12px 16px;
          text-align: left;
          white-space: nowrap;
          width: 100%;
        }
      }
    }

    tbody {
      tr {
        background: $color-white;
        border-bottom: 4px solid $background-color;
        font-weight: bold;

        td {
          padding: 0 16px;
          height: 48px;
          white-space: nowrap;
          width: 100%;

          &:first-child {
            border-radius: 8px 0px 0px 8px;
            // color: $color-grey-2;
          }

          &:last-child {
            border-radius: 0px 8px 8px 0px;
          }
        }
      }
    }
  }

  .table-2 {
    thead {
      tr {
        th {
          color: $color-white;
          background: $color-primary-1;
          padding: 0 16px;
          height: 62px;
        }
      }
    }

    tbody {
      tr {
        background: $color-white;
        font-weight: bold;
        border: 0px;

        td {
          padding: 0 16px;
          height: 62px;
          white-space: nowrap;
          width: 100%;
          border: 1px solid #EFF2F7;
          border-top: 0px;

          &:first-child {
            border-radius: 0px;
          }

          &:last-child {
            border-radius: 0px;
          }
        }
      }
    }
  }
}

// FOOTER

.footer {
  font-size: 12px;
  color: $color-grey-2;
  letter-spacing: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
